<!-- La bar de navigation bootstrap-->

<!-- navbar de couleur noir 'inverse' et fixée en haut de la page-->
<nav class = "navbar navbar-costum navbar-static-top" ng-controller="authController">
	<div class = "container" >
		<!-- Ajout de la marque du site le brand a gauche-->
		<a href="#Home" class = "navbar-brand"> Movie Store </a>
		
		<!-- Ajout d'un boutton pour rassembler les pages quand la fenêtre devient petite
			le .navHeaderCollapse c'est comme un id pour cibler la div en question contenant la ul
			qui elle méme contient les liens vers les différentes pages du site-->
			<button class = "navbar-toggle" data-toggle = "collapse" data-target= ".navHeaderCollapse">

				<!-- 3 petites barres pour dire qu'il ya un menu-->
				<i class="fa fa-bars fa-lg" aria-hidden="true"></i>

			</button>

			<!-- la div pour contenir la ul des pages avec l'id 'navHeaderCollapse' pour la rendre déployable-->
			<div class = "collapse navbar-collapse navHeaderCollapse">


				<ul class="nav navbar-nav">
					<li class = "active"><a href = "#Home"> Home </a></li>

					<li class="dropdown" >
						<a <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href = ""> Admin <span class="caret"></span></a>
						<ul class="dropdown-menu navbar-nav navbar-costum">
							<li ><a href="#ManageMovies">Manage Movies</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#ManageUsers">Manage Users</a></li>
						</ul>
					</li>

					<li><a href = "#Movies"> Movies </a></li>
					<li><a href = "#About_US"> About US </a></li>
					<li><a href = "#Chat"><i class="fa fa-weixin fa-lg" ></i> Chat </a></li>
				</ul>



				<div ng-if="!loggeduser">
					<!-- finalement notre ul poussser à droite avec les liens des pages -->
					<ul class = "nav navbar-nav navbar-right">
						<li><a href="#signup"><i class="fa fa-user-plus fa-lg" aria-hidden="true"></i> Sign Up</a></li>
						<li><a href="#signin"><i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Login</a></li>    
					</ul>
				</div>

				<div ng-if="loggeduser">

					<ul class = "nav navbar-nav navbar-right">

						<li ng-controller="CartController" ><a href = "#Cart"> <span class="glyphicon glyphicon-shopping-cart"></span>
							{{ TotalItems() }} <ng-pluralize count="TotalItems()" when="{1: 'item', 'other':'items'}"></ng-pluralize> {{ Total() + 6.94  | currency }}
						</a>
					</li>
					<li><a href="#Home" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>

		</div>

	</div>
</nav>


