<div class="container" ng-controller="">
<div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-sm-12">
                <span class="title">Categories</span>
            </div>
            <!-- Categories Box -->
<div class=" img-hover">
            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Action.png" height="200" width="260">
                    </a>
            </div>   

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Adventure.png" height="200" width="260">
                    </a>
            </div>   

                        <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Animation.png" height="200" width="260">
                    </a>
            </div>     

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Biography.png" height="200" width="260">
                    </a>
            </div>    

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Comedy.png" height="200" width="260">
                    </a>
            </div>    

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Crime.png" height="200" width="260">
                    </a>
            </div>   

                        <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Drama.png" height="200" width="260">
                    </a>
            </div>   

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Family.png" height="200" width="260">
                    </a>
            </div> 

                        <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Fantasy.png" height="200" width="260">
                    </a>
            </div>    

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/History.png" height="200" width="260">
                    </a>
            </div>  

                        <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Horror.png" height="200" width="260">
                    </a>
            </div>  

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Music.png" height="200" width="260">
                    </a>
            </div>   

                        <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Musical.png" height="200" width="260">
                    </a>
            </div> 

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Mystery.png" height="200" width="260">
                    </a>
            </div>    

                        <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Romance.png" height="200" width="260">
                    </a>
            </div>  

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Sci-fi.png" height="200" width="260">
                    </a>
            </div>    

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Sport.png" height="200" width="260">
                    </a>
            </div>   

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Thriller.png" height="200" width="260">
                    </a>
            </div>    

                        <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/War.png" height="200" width="260">
                    </a>
            </div> 

            <div class="col-lg-3 col-sm-3">
                    <a href="detail.html" >
                        <img src="assets/img/Categories/Western.png" height="200" width="260">
                    </a>
            </div> 


</div>
        

    </div> <!-- Row -->


    </div>

