<div class="container" ng-controller="MoviesController">
<div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="col-lg-12 col-sm-12">
                <span class="title" style="color:white;">Categories</span>
            </div>
            <!-- Categories Box -->
<div class=" img-hover" ng-repeat="genre in genres">


            <div class="col-lg-3 col-sm-3">
                    <a ng-href="#/MoviesCategory/{{genre}}" >
                        <img src="assets/img/Categories/{{genre}}.png" height="200" width="260">
                    </a>
            </div>   
</div>
    </div> <!-- Row -->
    </div>

