<div class ="container" ng-controller="EditUserController">
	<div class="row">
		
        
         <div class="col-md-10 col-centered">
        <br>
         <span class="my_title"> Edit {{user.username}} Account : <img class="img-rounded" src="{{ user.photo }}" height="50" width="50"> </td></span>
        <br><br>
        <div class="table-responsive">

<b>
              <table id="mytable" class="table table-bordred table-striped" style="background-color:white;">
                   
    <tbody>
    

    <tr>
    <td style="vertical-align:middle;"> Username :</td>
    <td> <input type="text" ng-model="user.username" size="50"  class="myInputText"> </td>
    </tr>


    <tr>
    <td style="vertical-align:middle;"> FirstName :</td>
    <td> <input type="text" ng-model="user.firstName" size="50"  class="myInputText"> </td>
    </tr>

    <tr>
    <td style="vertical-align:middle;"> LastName :</td>
    <td> <input type="text" ng-model="user.lastName" size="50"  class="myInputText"> </td>
    </tr>

    <tr>
    <td style="vertical-align:middle;"> Email :</td>
    <td> <input type="text" ng-model="user.email" size="50"  class="myInputText"> </td>
    </tr>

    <tr>
    <td style="vertical-align:middle;"> Address :</td>
    <td> <input type="text" ng-model="user.address" size="50"  class="myInputText"> </td>
    </tr>

    <tr>
    <td style="vertical-align:middle;"> Phone number :</td>
    <td> <input type="text" ng-model="user.phone_number" size="50"  class="myInputText"> </td>
    </tr>


</table>
</tbody>
<button type="submit" class="btn btn-success" ng-click="updateUser()">Save</button>

</div>
</div>
</div>
</div>