<div class ="container" ng-controller="EditUserController">
	<div class="row">
		
        
        <div class="col-md-12">
        <div class="table-responsive">
              <table id="mytable" class="table table-bordred table-striped">
                   
    <tbody>
    
    <tr>
    <td> FirstName </td>
    <td> <input type="text" ng-model="user.FirstName" size="50"> </td>
    </tr>

    <tr>
    <td> LastName </td>
    <td> <input type="text" ng-model="user.LastName" size="50"> </td>
    </tr>

    <tr>
    <td> Email </td>
    <td> <input type="text" ng-model="user.email" size="50"> </td>
    </tr>

    <tr>
    <td> Password </td>
    <td> <input type="text" ng-model="user.Password" size="50"> </td>
    </tr>

</table>

<button type="submit" class="btn btn-success" ng-click="updateUser()">Save</button>

</div>
</div>
</div>
</div>