<div ng-include="'views/common/slider.html'"></div>

<div class ="container">
	<div class ="row">
		<div class ="col-md-3">
		
		<h3> <a href ="#"> Action  </a></h3>
		<p> 
unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
		</p>
		<a href ="#" class = "btn btn-primary"> Read More </a>
		</div>
		
		<div class ="col-md-3">
		
		<h3> <a href ="#"> Thriller </a></h3>
		<p> 
unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
		</p>
		<a href ="#" class = "btn btn-primary"> Read More </a>
		</div>
		
		
		<div class ="col-md-3">
		
		<h3> <a href ="#"> Comedy </a></h3>
		<p> 
unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
		</p>
		<a href ="#" class = "btn btn-primary"> Read More </a>
		</div>
		
		
		<div class ="col-md-3">
		
		<h3> <a href ="#"> Adventure </a></h3>
		<p> 
unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.
		</p>
		<a href ="#" class = "btn btn-primary"> Read More </a>
		</div>
	</div>

</div>
<hr><hr>