<br><br>

<div class="col-md-3"></div>
<div ng-include="'views/common/slider.html'"></div>
<div class="container" ng-controller="MoviesController">

<h3 style="color:white;"> BEST SELLERS</h3>
<div style="background-color:white;">
 <div ng-repeat="movie in movies|limitTo:4">

    <div class="col-md-3 col-sm-6 col-xs-12 rcorners">

        <div class="flip-container " ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">
                <a ng-href="#/Movie_detail/{{movie._id}}">
                    <div class="front">

                        <img src="{{ movie.Poster }}" height="400" width="100%" class="img-rounded "> 


                    </div>

                    <div class="back img-rounded" style="padding-left:5px;padding-right:5px;text-align: justify;">
                                                  <h3 style="color:#a48041;text-align: center;">{{movie.Title}}</h3>
                          

                            <div > <b> Year: </b> {{movie.Year}} </div> <br>
                            <div> <b> imdb Rating:</b> {{movie.imdbRating}} </div> <br>
                            <div> <b> Genre:</b> {{movie.Genre}} </div> <br>
                            <div> <b>Actors:</b> {{movie.Actors}} </div> <br>
                          <!--  <div> <b> Plot:</b> {{movie.Plot}}  </div> <br> -->
                            <div> <b> In Stock:</b> {{movie.InStock}} DVD  </div>


                    </div>
                </a>
            </div>

        </div>

<br>
        <div class="caption prod-caption">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default price">{{ movie.Price | currency }}</a>
                <a class="btn btn-danger" ng-click="addToWishlist(movie)"> <i class="fa fa-heart" aria-hidden="true"></i></a>
                <a class="btn btn-primary" ng-click="addToCart(movie)"> Add to <span class="glyphicon glyphicon-shopping-cart"></span> </a>
            </div>
        </div>


    </div>

</div>

</div>
</div>