<div class="container" id="product-section" ng-controller="Movie_detailController">
  <div class="row">
<div class="col-md-6">
 <img
  src="{{ movie.Poster }}"
  class="img-rounded img-responsive"
  width="500" height="700"
 />
</div>

<div class="col-md-6">
 <div class="row">
  <div class="col-md-12">
   <h1 style="font-weight:bold;">{{ movie.Title }}</h1>
 </div>
</div><!-- end row -->
<div class="row">
 <div class="col-md-12">
  <p class="description">
  <ul>
  <li>Runtime: {{movie.Runtime}}</li>
  <li>Year: {{movie.Year}}</li>
  <li>Realeased: {{movie.Released}}</li>
   <li>imdb Rating: {{movie.imdbRating}}</li>
  <li>Genre: {{movie.Genre}}</li>
  <li>Director: {{movie.Director}}</li>
  <li>Actors: {{movie.Actors}}</li>
  <li>Plot: {{movie.Plot}}</li>
  </ul>
   
  </p>
 </div>
</div><!-- end row -->

<div class="row">
 <div class="col-md-12 bottom-rule">
  <h3 class="product-price"> In Stock : <span style="color:red;">{{movie.InStock}} DVD</span></h3>
  <h2 class="product-price"> Price : <span style="color:red;">{{movie.Price | currency}}</span></h2>
 </div>
</div><!-- end row -->





<div class="row add-to-cart">
 <div class="col-md-5 product-qty">

  <span class="btn btn-default btn-lg btn-qty" ng-click="removeQuantity()">
   <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
  </span>

  <input class="btn btn-default btn-lg btn-qty" ng-model="quantity" />

  <span class="btn btn-default btn-lg btn-qty" ng-click="addQuantity()">
   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  </span>

 </div>



 <div class="col-md-6">
<a href="" class="btn btn-info btn-lg" ng-click="addToCart(movie)" >
  <span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart
</a>
 </div>
</div><!-- end row -->
</br></br>
<table class="table table-hover">
  <thead>
    <tr >
      <span class="Premi_Res">Movie projection reservation</span>
    </tr>
        <tr>
      <th>#</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Booking</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="event in movie_events">
      <th >{{-(events.length - $index - 1)}}</th>
      <td>{{event.start | date}}</td>
      <td>{{event.duration}}</td>
      <td>
      <div ng-if="event.state == 'free'">
      <button type="button" class="btn btn-success" ng-click="BookEvent(event)">Book it</button>
      </div>
      <div ng-if="event.state != 'free'">
      <span class="booked_Event">{{event.state}}</span>
      </div>


      </td>
    </tr>
  </tbody>
</table>


</div><!-- end row-->
  </div><!-- end row -->
 </div><!-- end container --> 
