
<div class ="container" ng-controller="MoviesController"> <!-- div container-->

	<div class="row"> <!-- div row 1-->

     <div id="filter-panel" class="collapse filter-panel " ng-click="isCollapsed = !isCollapsed">
        <div class="panel panel-default backg_color">
            <div class="panel-body">
                <form class="form-inline" role="form">

                    <div class="form-group">
                        <label class="filter-col" style="margin-right:0;" for="pref-search">Search Movie:</label>
                        <input type="text" class="form-control input-sm " id="pref-search" placeholder="Movie title" ng-model="search.Title" >
                    </div><!-- form group [search] -->
                    <br/><br/>
                    <div class="form-group">
                        <label class="filter-col" style="margin-right:0;" for="pref-search">Search Actors:</label>
                        <input type="text" class="form-control input-sm" id="pref-search" placeholder="Actor 1" ng-model="search.Actors">
                        <input type="text" class="form-control input-sm" id="pref-search" placeholder="Actor 2" ng-model="search2.Actors">
                    </div><!-- form group [search] -->


                    <br/><br/>
                    <div class="form-group">
                        <label class="filter-col" style="margin-right:0;" for="pref-search">Movie Genre:</label>
                        <input type="text" class="form-control input-sm" id="pref-search" placeholder="Genre 1"  ng-model="search.Genre">
                        <input type="text" class="form-control input-sm" id="pref-search" placeholder="Genre 2"  ng-model="search2.Genre">
                        <input type="text" class="form-control input-sm" id="pref-search" placeholder="Genre 3"  ng-model="search3.Genre">
                    </div><!-- form group [search] -->
                    <br/><br/>
                    <div class="form-group">
                        <label class="filter-col" style="margin-right:0;" for="pref-search">Year:</label>
                        <input type="text" class="form-control input-sm" id="pref-search" placeholder="From" ng-model="minYear">
                        <input type="text" class="form-control input-sm" id="pref-search" placeholder="To" ng-model="maxYear">
                    </div><!-- form group [search] -->
                    <br/><br/>
                    <div class="form-group">
                        <label class="filter-col" style="margin-right:0;" for="pref-search">Minimum imdb Rating:</label>
                        <input type="text" class="form-control input-sm" id="pref-search" placeholder="imdb Rating (max 10)" ng-model="minImdb">
                    </div><!-- form group [search] -->
                    <br/><br/>
                    <div class="form-group">
                        <label class="filter-col" style="margin-right:0;" for="pref-search">Price:</label>
                        <input type="text" class="form-control input-sm" id="pref-search" placeholder="Min" ng-model="minPrice">
                        <input type="text" class="form-control input-sm" id="pref-search" placeholder="Max" ng-model="maxPrice">
                    </div><!-- form group [search] -->
                    <div class="form-group">
                        <label class="filter-col" style="margin-right:0;" for="pref-orderby" >Order by:</label>
                        <select id="pref-orderby" class="form-control"  ng-model="orderBy">
                            <option value="Price" selected>Ascendant</option>
                            <option value="-Price">Descendant</option>
                        </select>       
                    </div> <!-- form group [order by] --> 
                    <br/><br/>

                    <div class="form-group">
                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">Movies per page:</label>
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">                               
                    </div> <!-- form group [rows] --> 

                </form>
            </div>
        </div>
    </div>    
    <button type="button" class="btn btn-primary pull-right" data-toggle="collapse" data-target="#filter-panel">
        <span class="glyphicon glyphicon-cog"></span> Advanced Search
    </button>

    <div class="col-md-6">

        <h2 style="color:white;">Search a movie</h2>
        <div id="custom-search-input">
            <div class="input-group">
                <input type="text" class="form-control input-lg" placeholder="movie title" ng-model="search.Title" />
                <span class="input-group-btn">
                    <button class="btn btn-info btn-lg" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

</div> <!-- End row 1-->
<br>










<div class ="row" > <!-- div row 2-->

 <div dir-paginate="movie in movies | filter : search | filter : search2 | filter : search3 | filter : priceLimits | filter : yearLimits |  filter : minImdbRating | orderBy: orderBy | itemsPerPage: pageSize " current-page="currentPage">




    <div class="col-md-3 col-sm-6 col-xs-12 rcorners">

        <div class="flip-container " ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">
                <a ng-href="#/Movie_detail/{{movie._id}}">
                    <div class="front">

                        <img src="{{ movie.Poster }}" height="400" width="100%" class="img-rounded "> 

                    </div>

                    <div class="back img-rounded" style="padding-left:5px;padding-right:5px;text-align: justify;">
                                                  <h3 style="color:#a48041;text-align: center;">{{movie.Title}}</h3>
                          

                            <div > <b> Year: </b> {{movie.Year}} </div> <br>
                            <div> <b> imdb Rating:</b> {{movie.imdbRating}} </div> <br>
                            <div> <b> Genre:</b> {{movie.Genre}} </div> <br>
                            <div> <b>Actors:</b> {{movie.Actors}} </div> <br>
                          <!--  <div> <b> Plot:</b> {{movie.Plot}}  </div> <br> -->
                            <div> <b> In Stock:</b> {{movie.InStock}} DVD  </div>


                    </div>
                </a>
            </div>

        </div>

<br>
        <div class="caption prod-caption">
            <div class="btn-group btn-group-justified">
                <a class="btn btn-default price">{{ movie.Price | currency }}</a>
                <a class="btn btn-primary" ng-click="addToWishlist(movie)"> <i class="fa fa-heart" aria-hidden="true"></i></a>
                <a class="btn btn-primary" ng-click="addToCart(movie)"> Add to Cart <span class="glyphicon glyphicon-shopping-cart"></span> </a>
            </div>
        </div>


    </div>




</div>

</div> <!-- div row 2-->



















<!-- Pagination -->
<div class ="row"> <!-- div row 3-->
    <div class="text-center">
      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
  </div>


</div> <!-- div row 3-->
</div> <!-- div container-->