<div class ="container" ng-controller="Res_PlannigController">
<div class="row"><h2 class="title">Movie Projection Planning & Duration</h2></div>
</br>

    <div class="row"> <!-- div row2 -->

    <div class='col-md-6'>





<div class="panel panel-success" > <!-- div panel -->
        <div class="panel-heading">
            <div class="panel-title Premi_Res2">Add Movie Projection : </div>
        </div>
        <div class="panel-body">

<form  class="form-horizontal" role="form">
</br>
                    <div class="form-group">
                        <label for="Username" class="col-md-3 control-label">Projection Title</label>
                        <div class="col-md-9">
                        
                    <input type="text" class="form-control" ng-model="event.title" >

                        </div>
                    </div>

</br>
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label">Start Date :</label>
                        <div class="col-md-9">
                            <input type="datetime-local" name="bdaytime" ng-model="event.start">

                        </div>
                    </div>
</br>
                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label">End Date :</label>
                        <div class="col-md-9">
                            <input type="datetime-local" name="bdaytime" ng-model="event.end">

                        </div>
                    </div>
</br>
                    <div class="form-group">
                        <label  class="col-md-3 control-label">Movie Title :</label>
                        <div class="col-md-9">
                            <select class="form-control" ng-model="mve" ng-options="movie as movie.Title for movie in movies">
          <option value="">-- Select One --</option>
     </select>

                        </div>
                    </div>
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="button" class="btn btn-success btn-lg" ng-click="addEvent(event)">  Add Projection </button>
                            

                        </div>
                    </div>



                </form>

</div>
    </div><!-- div panel -->
<a href="#Upd_Del_Event" class="btn btn-info pull-right btn-lg">  Update/Delete Projection </a>









    </div>
        



        <div class='calendar col-md-6 cal_style' ui-calendar="calendarConfig.calendar" ng-model="eventSources" ></div>










    </div> <!-- div row2 -->
</div> <!-- div container -->


