    <div class="container" ng-controller="authController">
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Sign Up</div>
            </div>
            <div class="panel-body" >
                <form id="signupform" name="form" class="form-horizontal" role="form">



                    <div  ng-if="alert=='Registration success'" id="signupalert" ng-show="alert" class="alert alert-success">
                         {{alert}}
                    </div>

                    <div ng-if="alert == 'Registration failed'" id="signupalert" ng-show="alert" class="alert alert-danger">
                         {{alert}}
                    </div>

                    <div class="form-group">
                        <label for="Username" class="col-md-3 control-label"><span class="required_star">*</span>Username :</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" ng-model="user.username" placeholder="Username">
                            <span class ="error">{{errors.username}}</span>
                            <span class ="error">{{errors.usernameNotUnique}}</span>
                        </div>
                    </div>
<!--
                    <div class="form-group">
                    <label for="Avatar" class="col-md-3 control-label">Profile pic :</label>
                        <div class="col-md-9">

                              <input type="file" class="btn btn-info" ngf-select ng-model="user.profilePic" name="profilePic"    
                                     accept="image/*" ngf-max-size="2MB" required
                                     ngf-model-invalid="errorFile">
                              <span class ="error"><i ng-show="form.profilePic.$error.maxSize">File too large 
                                  {{errorFile.size / 1000000|number:1}}MB: max 2MB</i></span>
                            <img ng-show="form.profilePic.$valid" ngf-thumbnail="user.profilePic" class="thumb" height="120" width="120"> <button ng-click="user.profilePic= null" ng-show="user.profilePic">Remove</button>

                        </div>
                    </div>
-->
                    <div class="form-group">
                        <label for="firstname" class="col-md-3 control-label"><span class="required_star">*</span>First Name :</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" ng-model="user.firstName" placeholder="First Name">
                            <span class ="error">{{errors.firstName}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lastname" class="col-md-3 control-label"><span class="required_star">*</span>Last Name :</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" ng-model="user.lastName" placeholder="Last Name">
                            <span class ="error">{{errors.lastName}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-md-3 control-label"><span class="required_star">*</span>Email :</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" ng-model="user.email" placeholder="Email Address">
                            <span class ="error">{{errors.email}}</span>
                            <span class ="error">{{errors.emailNotUnique}}</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label"><span class="required_star">*</span>Password :</label>

                        <div class="col-md-9">

                            <input type="{{inputType}}" class="form-control" ng-model="user.password" placeholder="Password">
                            <ng-password-meter password="user.password" strength="strenth" inner-class="progress-bar"></ng-password-meter>

                            <span class ="error">{{errors.password}}</span>
                            <span class ="error">{{errors.weakPass}}</span>
                        </div>



                    </div>


                    <div class="form-group">
                        <label for="password" class="col-md-3 control-label">Confirm Password</label>
                        <div class="col-md-9">
                            <input type="{{inputType}}" class="form-control" ng-model="user.password2" placeholder="Confirm Password">
                            <span class ="error">{{errors.password2}}</span>
                        </div>
                    </div>


                    <div class="form-group">
                          <label for="checkbox"  class="col-md-3 control-label" ng-if="passwordCheckbox">Hide password</label>
                          <label for="checkbox"  class="col-md-3 control-label" ng-if="!passwordCheckbox">Show password</label>  

                        <div class="col-md-9">
                          <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" ng-click="hideShowPassword()" class="big-checkbox">
                        </div>
                    </div>






                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="button" class="btn btn-success btn-lg" ng-click="signup(user)"><i class="icon-hand-right"></i>  Sign Up</button>

                        </div>
                    </div>

                <div class="form-group">
                    <div class="col-md-12 control">
                        <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                            Already have an account!
                            <a ng-href="#/signin">
                                Sign In Here
                            </a>
                        </div>
                    </div>
                </div>


                </form>
            </div>
        </div>




    </div>
</div>