
<div class ="container">
<div ng-controller="MoviesController">
	<div class ="row">
		

			<!-- une boucle pour parcourir les lunettes et les afficher, on a un filtre aussi pour la pagination -->
			<div ng-repeat="movie in movies | startFrom:currentPage*pageSize | limitTo:pageSize">
			<div class ="col-md-2 attributs">
				<h2 >{{movie.Title}} </h2>
				<br>
				<ul>
				<li>Runtime : {{movie.Runtime}}$</li>
				<li>Year : {{movie.Year}}</li>
				<li>Genre : {{movie.Genre}}</li>
				</ul>
				<br>
				<a ng-href="#/Movie_detail/{{movie.imdbID}}" class = "btn btn-info"> See More </a>
				
			</div>
			</div>




			<button class = "btn btn-primary" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
        Previous
    		</button>
    			{{currentPage+1}}/{{numberOfPages()}}
    		<button class = "btn btn-primary" ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
        Next
    		</button>
		
	</div>
</div>
</div>