<!-- La bar de navigation bootstrap-->

<!-- navbar de couleur noir 'inverse' et fixée en haut de la page-->
<nav class = "navbar navbar-inverse navbar-static-top">
	<div class = "container" >
	<!-- Ajout de la marque du site le brand a gauche-->
		<a href="#home" class = "navbar-brand"> Movie Store </a>
		
		<!-- Ajout d'un boutton pour rassembler les pages quand la fenêtre devient petite
			le .navHeaderCollapse c'est comme un id pour cibler la div en question contenant la ul
			qui elle méme contient les liens vers les différentes pages du site-->
		<button class = "navbar-toggle" data-toggle = "collapse" data-target= ".navHeaderCollapse">
		
		<!-- 3 petites barres pour dire qu'il ya un menu-->
		<span class ="icon-bar"> </span>
		<span class ="icon-bar"> </span>
		<span class ="icon-bar"> </span>
		</button>
		
		<!-- la div pour contenir la ul des pages avec l'id 'navHeaderCollapse' pour la rendre déployable-->
		<div class = "collapse navbar-collapse navHeaderCollapse">
		
			<!-- finalement notre ul poussser à droite avec les liens des pages -->
			<ul class = "nav navbar-nav navbar-right">
				
				<li class = "active"><a href = "#Home"> Home </a></li>
				<li><a href = "#Movies"> Movies </a></li>
				<li><a href = "#Cart"> Cart </a></li>
				<li><a href = "#Login"> Login </a></li>
				<li><a href = "#About_US"> About US </a></li>

			</ul>
		</div>
		
	</div>
</nav>




<div class = "navbar navbar-default navbar-fixed-bottom">
<div class = "container"
<p class = "navbar-text"> Site Built By Kefi Ahmed </p>
</div>
</div>